body {
    background-color: #EBF5EE;
}
h1, h2, p, footer {
    color: #07070A;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
h1, h2 {
    font-weight: bolder;
}
header {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}